 [Unit]
 Description=Flask Server Alarm
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/pi/Smart-Alarm/alarm.py
 StandardOutput=append:/home/pi/alarm.log
 StandardError=append:/home/pi/alarmError.log

 [Install]
 WantedBy=multi-user.target
